@model TheCommonRoom_Capstone.Models.Roommate

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Household)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>

            <td>
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(model => model.Household.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Color)
            </td>
            <td>
                <a class="btn btn-outline-info btn-sm" role="button" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-outline-danger btn-sm" role="button" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
